body{

}
#container{
    margin: 0 auto;
    border: 1px green solid;
    position: relative;
    width: 440px;
    height: 680px;
}
#ctx{
    border: 1px green solid;
    /* cursor: none; */
    position: absolute;
    /* display: none; */
}
#but{
    position: absolute;
    left: 25%;
    top: 50%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: lightblue;
    background : transparent;
    border: none;
}
#but:hover{
    background: blue;
}
#restartbutton{
    position: absolute;
    left: 25%;
    top: 50%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: blue;
    display: none;
    background : transparent;
    border: none;
}
#restartbutton:hover{
    background: white;
}
#gameovertext{
    position: absolute;
    left: 29%;
    top: 40%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: red;
    display: none;
}
#score{
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: yellow;
    
}
#level{
    position: absolute;
    left: 10px;
    top: 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: yellowgreen;
    
}
#finalscorecontainer{
    text-align: center;
    margin-top: 50%;
}
#finalscore{
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: yellowgreen;
    
}
#displaylevel{
    position: absolute;
    left: 320px;
    top: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: yellowgreen;
}