body{

}
#container{
    margin: 0 auto;
    border: 1px black solid;
    position: relative;
    width: 440px;
    height: 680px;
}
#ctx{
    border: 1px black solid;
    /* cursor: none; */
    position: absolute;
    /* display: none; */
}
#but{
    position: absolute;
    left: 25%;
    top: 50%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: blue;
}
#restartbutton{
    position: absolute;
    left: 25%;
    top: 50%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: blue;
    display: none;
}

#gameovertext{
    position: absolute;
    left: 29%;
    top: 40%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: blue;
    display: none;
}
#score{
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: yellow;
    
}
#level{
    position: absolute;
    left: 320px;
    top: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: yellowgreen;
    
}
#finalscore{
    position: relative;
    left: 100px;
    top: 240px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: yellowgreen;
    
}